/* Styles for the "Who I Am" and "What I Do" sections */
.details-container {
  position: relative;
  display: flex;
  align-items: center;
}

.details-content {
  padding: 50px 20px; /* Consistent padding */
  display: flex;
  max-width: 1200px; /* Max width for content area */
  min-width: 360px; /* Minimum width to prevent squash */
  margin: auto; /* Center the content */
}

.details-content p {
  font-size: 18px; /* Explicit font size for paragraph text in this section */
}

/* List styling */
.list-level-1 {
  margin-left: 25px; /* Indent for list items */
}

/* Blocks of content (Who I am, What I do) */
.who-i-am {
  margin-right: 10px;
  border-right: 2px solid #247ba0; /* Right border for separation */
  padding: 5px 10px 5px 5px; /* Internal padding */
}

.who-i-am,
.what-i-do {
  min-width: 300px; /* Minimum width for each content block */
  max-width: 800px; /* Maximum width for each content block */
}

.what-i-do {
  padding: 5px; /* Internal padding */
}

/* Cover image styling */
.cover-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cover-img {
  max-height: 300px;
  width: auto;
  margin: 0 auto; /* Center image within its container */
}
.cover-img2 {
  max-height: 285px;
  width: auto;
  margin: 0 auto; /* Center image within its container */
}

/* Address link styling */
.address {
  color: #247ba0;
  outline: none;
}

/* Responsiveness for Details section */
@media only screen and (max-width: 700px) {
  .details-container {
    height: auto; /* Allow height to adjust */
  }
  .details-content {
    margin: 0;
    padding: 20px;
    flex-direction: column; /* Stack content blocks vertically */
  }

  .who-i-am {
    border-right: 0px; /* Remove right border on mobile */
    border-bottom: 2px solid #247ba0; /* Add bottom border on mobile */
  }

  .who-i-am,
  .what-i-do {
    margin: 0 0 20px 0; /* Adjust margins for stacked blocks */
    width: 100%;
    padding-top: 20px;
    position: relative;
  }

  /* Cover image responsiveness */
  .cover-img-container {
    margin: 30px auto;
  }
  .cover-img {
    max-height: 400px;
    width: auto;
    margin: 0 auto;
  }

  /* Headings responsiveness */
  .secondary-heading {
    text-align: center; /* Center headings on mobile */
  }
}
