/* Styles for the Spacer component, used for anchor links */
.spacer {
  position: absolute;
  height: 130px; /* Height matches navbar to offset content */
  bottom: 100%; /* Positions it at the bottom of the parent */
}
