.details-container {
  position: relative;
  display: flex;
  align-items: center;
}

.details-content {
  padding: 50px 20px;
  display: flex;
  max-width: 1200px;
  min-width: 360px;
  margin: 42px auto;
}

.details-content p {
  font-size: 18px;
}

/* headings */
.secondary-heading {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* blocks of content */
.who-i-am,
.what-i-do {
  margin-right: 10px;
  border-right: 2px solid #247ba0;
}

.who-i-am,
.what-i-do,
.get-in-touch {
  padding: 20px;
  width: 400px;
}

/* Contact details section */
.contact-details {
  margin: 10px 0 0;
}

.contact-details li {
  list-style-type: none;
  margin: 10px;
}

.contact-details p:hover {
  cursor: pointer;
  color: #fff;
}

/* navbar links */
.contact-details p a {
  color: #247ba0;
  text-decoration: none;
}

.contact-details p a:hover {
  border-bottom: 1px solid #247ba0;
  cursor: pointer;
}

/* responsiveness */
@media only screen and (max-width: 700px) {
  .details-container {
    height: auto;
  }
  .details-content {
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }

  .who-i-am,
  .what-i-do {
    border-right: 0px;
    border-bottom: 2px solid #247ba0;
  }

  .who-i-am,
  .what-i-do,
  .get-in-touch {
    margin: 0;
    width: 100%;
    padding-top: 20px;
    position: relative;
  }

  .who-i-am,
  .what-i-do {
    margin-bottom: 20px;
  }

  /* headings */
  .secondary-heading {
    text-align: center;
  }
}
