.details_container {
  position: relative;
  height: 80vh;
}

.details_content {
  padding: 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1200px;
  min-width: 360px;
  margin: 0 auto;
}

.who_i_am,
.what_i_do {
  margin-right: 20px;
  padding-right: 20px;
  border-right: 2px solid #247ba0;
}

.contact_details {
  margin: 10px 0 0;
}

/*  */
.contact_details li {
  list-style-type: none;
  margin: 10px;
}

.contact_details p:hover {
  cursor: pointer;
  color: #fff;
}

/* navbar links */
.contact_details p a {
  color: #247ba0;
  text-decoration: none;
}

.contact_details p a:hover {
  border-bottom: 1px solid #247ba0;
  cursor: pointer;
}

/* responsiveness */

@media only screen and (max-width: 700px) {
  .details_container {
    position: inherit;
  }
  .details_content {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: 1fr;
  }

  .who_i_am,
  .what_i_do {
    margin-right: 0;
    padding-right: 0;

    margin-bottom: 20px;
    padding-bottom: 20px;
    border-right: 0px;
    border-bottom: 2px solid #247ba0;
  }
}
