.header_container {
  width: 100%;
  margin: 0;
  height: 150px;
  position: absolute;
  transition: all 0.4s;
  border-bottom: 2px solid transparent;
}

.header_container_background {
  background-color: #247ba0a0;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid #fff;
}

.header_inner_container {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: .6fr 1fr;
}

.header_title_container,
.header_shortcuts_container {
  padding: 20px;
}

.header_title,
.header_title_description {
  text-align: center;
  padding: 5px;
}

.header_title {
  width: auto;
  border-bottom: 2px solid #247ba0;
}

/* navbar list */
.navbar_list {
  list-style-type: none;
  float: right;
  padding-top: 20px;
}

.navbar_list li {
  float: left;
  display: block;
  list-style-type: none;
  margin: 10px;
}

.navbar_list li:hover {
  cursor: pointer;
  color: #fff;
}

/* navbar links */
.navbar_list li a {
  color: black;
  padding: 0 20px;
  text-decoration: none;
}

.navbar_list li a:hover {
  border-bottom: 2px solid #247ba0;
  text-shadow: 0px 0px 1px;
  cursor: pointer;
  color: #247ba0;
}
