/* Main application container */
.App {
  margin: 0;
  padding: 0;
  background-color: #cfd8d7; /* Global background color */
}

/* Global Utility Classes */

/* Accent color for text */
.text-color {
  color: #247ba0;
}

/* Horizontal line separator */
.space-border {
  width: 60px;
  border-bottom: 2px solid #247ba0;
}

/* Primary heading style */
.primary-heading {
  font-size: 32px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Secondary heading style */
.secondary-heading {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Sub-heading style, often for lists or emphasized text */
.sub-heading {
  color: #247ba0;
}

/* Backdrop section for the main header image */
.backdrop {
  height: 60vh;
}

.backdrop-img {
  height: 60vh;
  width: 100%;
  object-fit: cover;
  border-bottom: 2px solid #ffffff60; /* Border at the bottom of the image */
}

/* -------- responsiveness -------- */
@media only screen and (max-width: 700px) {
  .space-border {
    margin: 0 auto;
  }
}
