.App {
  margin: 0;
  padding: 0;
  background-color: #cfd8d7;
}

.text_color {
  color: #247ba0;
}

.space_border {
  height: 1px;
  width: 30px;
  border-bottom: 2px solid #247ba0;
}

.backdrop {
  height: 60vh;
  /* Remove height once image is in place  */
  /* potentially add a margin  */
  text-align: center;
  border-bottom: 1px solid #247ba03d;
}

.backdrop-img {
  height: 60vh;
  width: 100%;
}

.write_up {
  height: 40vh;
  margin: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #247ba03d;
}

.details {
  margin: 20px;
}

.footer {
  border-top: 1px solid #247ba0;
}

/* responsiveness */

@media only screen and (max-width: 700px) {
  .write_up {
    height: auto;
  }
}
